In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("download2/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_5728786.csv", skiprows=4)
data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,26942.307976,28421.386493,28451.273745,29326.708058,30918.515218,31902.762582,24487.863569,29342.100730,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,161.638982,161.111657,170.538537,198.038919,178.019217,196.818756,...,1724.534381,1545.559084,1436.094404,1613.668488,1550.111762,1499.954437,1353.927527,1539.165543,1622.391720,NaN
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,62.369375,62.443703,60.950364,82.021738,85.511073,105.243196,...,628.146804,592.476165,520.251955,530.149863,502.057099,500.522981,516.866797,363.674087,NaN,NaN
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,107.423775,112.503866,118.197351,122.774120,131.163760,137.809818,...,2247.857492,1880.750778,1646.972399,1588.581005,1732.816544,1810.538006,1686.997899,1765.965307,1790.348800,NaN
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5059.080441,3100.830685,1709.515534,2283.214233,2487.500996,2142.238757,1502.950754,1903.717405,2998.501158,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3902.529820,3520.780421,3759.471040,4009.356038,4384.190404,4416.031322,4310.932984,5269.783901,5351.439542,NaN
262,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1557.601406,1488.416267,1069.816997,893.716573,701.714878,693.816484,583.875663,603.707959,676.928385,NaN
263,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,529.561923,543.042224,560.699395,601.599951,642.688431,681.131112,...,6965.137897,6204.929901,5735.066787,6734.475153,7048.508112,6688.774746,5741.641249,7055.055176,6776.480077,NaN
264,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,228.567399,216.274674,208.562685,209.453362,236.941713,296.022427,...,1724.576220,1307.909649,1249.923143,1495.752138,1475.199836,1268.120941,956.831747,1137.344395,1487.907764,NaN
265,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,276.643363,279.332656,275.966139,277.532515,282.376856,294.893605,...,1407.034291,1410.329173,1421.787791,1192.107012,2269.177012,1421.868596,1372.696674,1773.920411,1266.996031,NaN

In [3]:
data = data.drop(["Indicator Name", "Indicator Code"], axis=1)

In [4]:
data.dtypes

Country Name     object
Country Code     object
1960            float64
1961            float64
1962            float64
                 ...
2019            float64
2020            float64
2021            float64
2022            float64
Unnamed: 67     float64
Length: 66, dtype: object

In [5]:
from prettytable import PrettyTable
x = PrettyTable()
x.add_column("Country Name", data["Country Name"])
x.add_column("NaN values (abs)", data.isnull().sum(1))
x.add_column("NaN values (rel)", round(data.isnull().sum(1) / (len(data.keys())-2), 2))
print(x)

+------------------------------------------------------+------------------+------------------+
|                     Country Name                     | NaN values (abs) | NaN values (rel) |
+------------------------------------------------------+------------------+------------------+
|                        Aruba                         |        28        |       0.44       |
|             Africa Eastern and Southern              |        1         |       0.02       |
|                     Afghanistan                      |        22        |       0.34       |
|              Africa Western and Central              |        1         |       0.02       |
|                        Angola                        |        21        |       0.33       |
|                       Albania                        |        25        |       0.39       |
|                       Andorra                        |        11        |       0.17       |
|                      Arab World                      |        9         |       0.14       |
|                 United Arab Emirates                 |        16        |       0.25       |
|                      Argentina                       |        3         |       0.05       |
|                       Armenia                        |        31        |       0.48       |
|                    American Samoa                    |        44        |       0.69       |
|                 Antigua and Barbuda                  |        18        |       0.28       |
|                      Australia                       |        1         |       0.02       |
|                       Austria                        |        1         |       0.02       |
|                      Azerbaijan                      |        31        |       0.48       |
|                       Burundi                        |        1         |       0.02       |
|                       Belgium                        |        1         |       0.02       |
|                        Benin                         |        1         |       0.02       |
|                     Burkina Faso                     |        1         |       0.02       |
|                      Bangladesh                      |        1         |       0.02       |
|                       Bulgaria                       |        21        |       0.33       |
|                       Bahrain                        |        21        |       0.33       |
|                     Bahamas, The                     |        1         |       0.02       |
|                Bosnia and Herzegovina                |        35        |       0.55       |
|                       Belarus                        |        31        |       0.48       |
|                        Belize                        |        1         |       0.02       |
|                       Bermuda                        |        1         |       0.02       |
|                       Bolivia                        |        1         |       0.02       |
|                        Brazil                        |        1         |       0.02       |
|                       Barbados                       |        15        |       0.23       |
|                  Brunei Darussalam                   |        6         |       0.09       |
|                        Bhutan                        |        22        |       0.34       |
|                       Botswana                       |        1         |       0.02       |
|               Central African Republic               |        1         |       0.02       |
|                        Canada                        |        1         |       0.02       |
|            Central Europe and the Baltics            |        31        |       0.48       |
|                     Switzerland                      |        11        |       0.17       |
|                   Channel Islands                    |        48        |       0.75       |
|                        Chile                         |        1         |       0.02       |
|                        China                         |        1         |       0.02       |
|                    Cote d'Ivoire                     |        1         |       0.02       |
|                       Cameroon                       |        1         |       0.02       |
|                   Congo, Dem. Rep.                   |        1         |       0.02       |
|                     Congo, Rep.                      |        1         |       0.02       |
|                       Colombia                       |        1         |       0.02       |
|                       Comoros                        |        21        |       0.33       |
|                      Cabo Verde                      |        21        |       0.33       |
|                      Costa Rica                      |        1         |       0.02       |
|                Caribbean small states                |        1         |       0.02       |
|                         Cuba                         |        13        |       0.2        |
|                       Curacao                        |        53        |       0.83       |
|                    Cayman Islands                    |        48        |       0.75       |
|                        Cyprus                        |        16        |       0.25       |
|                       Czechia                        |        31        |       0.48       |
|                       Germany                        |        11        |       0.17       |
|                       Djibouti                       |        27        |       0.42       |
|                       Dominica                       |        18        |       0.28       |
|                       Denmark                        |        7         |       0.11       |
|                  Dominican Republic                  |        1         |       0.02       |
|                       Algeria                        |        1         |       0.02       |
|     East Asia & Pacific (excluding high income)      |        1         |       0.02       |
|              Early-demographic dividend              |        1         |       0.02       |
|                 East Asia & Pacific                  |        1         |       0.02       |
|    Europe & Central Asia (excluding high income)     |        29        |       0.45       |
|                Europe & Central Asia                 |        7         |       0.11       |
|                       Ecuador                        |        1         |       0.02       |
|                   Egypt, Arab Rep.                   |        6         |       0.09       |
|                      Euro area                       |        1         |       0.02       |
|                       Eritrea                        |        64        |       1.0        |
|                        Spain                         |        1         |       0.02       |
|                       Estonia                        |        36        |       0.56       |
|                       Ethiopia                       |        22        |       0.34       |
|                    European Union                    |        11        |       0.17       |
|       Fragile and conflict affected situations       |        9         |       0.14       |
|                       Finland                        |        1         |       0.02       |
|                         Fiji                         |        1         |       0.02       |
|                        France                        |        1         |       0.02       |
|                    Faroe Islands                     |        40        |       0.62       |
|                Micronesia, Fed. Sts.                 |        26        |       0.41       |
|                        Gabon                         |        1         |       0.02       |
|                    United Kingdom                    |        1         |       0.02       |
|                       Georgia                        |        31        |       0.48       |
|                        Ghana                         |        1         |       0.02       |
|                      Gibraltar                       |        64        |       1.0        |
|                        Guinea                        |        27        |       0.42       |
|                     Gambia, The                      |        7         |       0.11       |
|                    Guinea-Bissau                     |        11        |       0.17       |
|                  Equatorial Guinea                   |        5         |       0.08       |
|                        Greece                        |        1         |       0.02       |
|                       Grenada                        |        18        |       0.28       |
|                      Greenland                       |        12        |       0.19       |
|                      Guatemala                       |        1         |       0.02       |
|                         Guam                         |        44        |       0.69       |
|                        Guyana                        |        1         |       0.02       |
|                     High income                      |        1         |       0.02       |
|                 Hong Kong SAR, China                 |        1         |       0.02       |
|                       Honduras                       |        1         |       0.02       |
|        Heavily indebted poor countries (HIPC)        |        1         |       0.02       |
|                       Croatia                        |        36        |       0.56       |
|                        Haiti                         |        1         |       0.02       |
|                       Hungary                        |        32        |       0.5        |
|                      IBRD only                       |        1         |       0.02       |
|                   IDA & IBRD total                   |        1         |       0.02       |
|                      IDA total                       |        1         |       0.02       |
|                      IDA blend                       |        1         |       0.02       |
|                      Indonesia                       |        8         |       0.12       |
|                       IDA only                       |        1         |       0.02       |
|                     Isle of Man                      |        38        |       0.59       |
|                        India                         |        1         |       0.02       |
|                    Not classified                    |        64        |       1.0        |
|                       Ireland                        |        1         |       0.02       |
|                  Iran, Islamic Rep.                  |        3         |       0.05       |
|                         Iraq                         |        4         |       0.06       |
|                       Iceland                        |        1         |       0.02       |
|                        Israel                        |        26        |       0.41       |
|                        Italy                         |        1         |       0.02       |
|                       Jamaica                        |        1         |       0.02       |
|                        Jordan                        |        6         |       0.09       |
|                        Japan                         |        1         |       0.02       |
|                      Kazakhstan                      |        31        |       0.48       |
|                        Kenya                         |        1         |       0.02       |
|                   Kyrgyz Republic                    |        31        |       0.48       |
|                       Cambodia                       |        19        |       0.3        |
|                       Kiribati                       |        11        |       0.17       |
|                 St. Kitts and Nevis                  |        1         |       0.02       |
|                     Korea, Rep.                      |        1         |       0.02       |
|                        Kuwait                        |        6         |       0.09       |
|  Latin America & Caribbean (excluding high income)   |        1         |       0.02       |
|                       Lao PDR                        |        25        |       0.39       |
|                       Lebanon                        |        30        |       0.47       |
|                       Liberia                        |        41        |       0.64       |
|                        Libya                         |        31        |       0.48       |
|                      St. Lucia                       |        21        |       0.33       |
|              Latin America & Caribbean               |        1         |       0.02       |
|     Least developed countries: UN classification     |        21        |       0.33       |
|                      Low income                      |        21        |       0.33       |
|                    Liechtenstein                     |        12        |       0.19       |
|                      Sri Lanka                       |        1         |       0.02       |
|                 Lower middle income                  |        1         |       0.02       |
|                 Low & middle income                  |        1         |       0.02       |
|                       Lesotho                        |        1         |       0.02       |
|              Late-demographic dividend               |        1         |       0.02       |
|                      Lithuania                       |        36        |       0.56       |
|                      Luxembourg                      |        1         |       0.02       |
|                        Latvia                        |        36        |       0.56       |
|                   Macao SAR, China                   |        23        |       0.36       |
|               St. Martin (French part)               |        62        |       0.97       |
|                       Morocco                        |        1         |       0.02       |
|                        Monaco                        |        12        |       0.19       |
|                       Moldova                        |        36        |       0.56       |
|                      Madagascar                      |        1         |       0.02       |
|                       Maldives                       |        21        |       0.33       |
|              Middle East & North Africa              |        9         |       0.14       |
|                        Mexico                        |        1         |       0.02       |
|                   Marshall Islands                   |        22        |       0.34       |
|                    Middle income                     |        1         |       0.02       |
|                   North Macedonia                    |        31        |       0.48       |
|                         Mali                         |        8         |       0.12       |
|                        Malta                         |        11        |       0.17       |
|                       Myanmar                        |        2         |       0.03       |
|  Middle East & North Africa (excluding high income)  |        6         |       0.09       |
|                      Montenegro                      |        41        |       0.64       |
|                       Mongolia                       |        22        |       0.34       |
|               Northern Mariana Islands               |        45        |       0.7        |
|                      Mozambique                      |        32        |       0.5        |
|                      Mauritania                      |        2         |       0.03       |
|                      Mauritius                       |        17        |       0.27       |
|                        Malawi                        |        21        |       0.33       |
|                       Malaysia                       |        1         |       0.02       |
|                    North America                     |        1         |       0.02       |
|                       Namibia                        |        21        |       0.33       |
|                    New Caledonia                     |        7         |       0.11       |
|                        Niger                         |        1         |       0.02       |
|                       Nigeria                        |        1         |       0.02       |
|                      Nicaragua                       |        1         |       0.02       |
|                     Netherlands                      |        1         |       0.02       |
|                        Norway                        |        1         |       0.02       |
|                        Nepal                         |        1         |       0.02       |
|                        Nauru                         |        51        |       0.8        |
|                     New Zealand                      |        2         |       0.03       |
|                     OECD members                     |        1         |       0.02       |
|                         Oman                         |        6         |       0.09       |
|                  Other small states                  |        11        |       0.17       |
|                       Pakistan                       |        1         |       0.02       |
|                        Panama                        |        1         |       0.02       |
|                         Peru                         |        1         |       0.02       |
|                     Philippines                      |        1         |       0.02       |
|                        Palau                         |        42        |       0.66       |
|                   Papua New Guinea                   |        1         |       0.02       |
|                        Poland                        |        31        |       0.48       |
|               Pre-demographic dividend               |        1         |       0.02       |
|                     Puerto Rico                      |        1         |       0.02       |
|              Korea, Dem. People's Rep.               |        64        |       1.0        |
|                       Portugal                       |        1         |       0.02       |
|                       Paraguay                       |        6         |       0.09       |
|                  West Bank and Gaza                  |        35        |       0.55       |
|             Pacific island small states              |        12        |       0.19       |
|              Post-demographic dividend               |        1         |       0.02       |
|                   French Polynesia                   |        7         |       0.11       |
|                        Qatar                         |        11        |       0.17       |
|                       Romania                        |        28        |       0.44       |
|                  Russian Federation                  |        29        |       0.45       |
|                        Rwanda                        |        1         |       0.02       |
|                      South Asia                      |        1         |       0.02       |
|                     Saudi Arabia                     |        9         |       0.14       |
|                        Sudan                         |        1         |       0.02       |

In [6]:
to_drop = []

for indx, row in data.iterrows():
    data_row = row.drop(["Country Name", "Country Code", "Unnamed: 67"])
    data_row = data_row.fillna(-1).to_list()
    if data_row.count(-1) / len(data_row) > 0.6:
        to_drop.append(row["Country Name"])

to_drop

['American Samoa',
 'Channel Islands',
 'Curacao',
 'Cayman Islands',
 'Eritrea',
 'Faroe Islands',
 'Gibraltar',
 'Guam',
 'Not classified',
 'Liberia',
 'St. Martin (French part)',
 'Montenegro',
 'Northern Mariana Islands',
 'Nauru',
 'Palau',
 "Korea, Dem. People's Rep.",
 'San Marino',
 'South Sudan',
 'Sao Tome and Principe',
 'Sint Maarten (Dutch part)',
 'Turks and Caicos Islands',
 'Timor-Leste',
 'British Virgin Islands',
 'Virgin Islands (U.S.)',
 'Kosovo']

kleine Anmerkung: die Anzahl an NaN Elementen pro Land sollte im Vergleich zur Tabelle um 1 weniger sein, da die noch nicht vorhanden Werte für 2023 ("Unnamed: 67") vorher aus der Pandas Series entfernt werden.

In [29]:
# get aggregates & other groups
country_meta = pd.read_csv("download2/Metadata_Country_API_NY.GDP.PCAP.CD_DS2_en_csv_v2_5728786.csv")

non_countries = []

for indx, row in country_meta.iterrows():
    # NaN is float in Pandas
    if type(row.Region) is float:
        non_countries.append([row["Country Code"], row["SpecialNotes"]])

non_countries

[['AFE',
  '26 countries, stretching from the Red Sea in the North to the Cape of Good Hope in the South (https://www.worldbank.org/en/region/afr/eastern-and-southern-africa)'],
 ['AFW',
  '22 countries, stretching from the westernmost point of Africa, across the equator, and partly along the Atlantic Ocean till the Republic of Congo in the South (https://www.worldbank.org/en/region/afr/western-and-central-africa)'],
 ['ARB',
  'Arab World aggregate. Arab World is composed of members of the League of Arab States.'],
 ['CEB', 'Central Europe and the Baltics aggregate.'],
 ['CSS', nan],
 ['EAP', nan],
 ['EAR',
  'Early-dividend countries are mostly lower-middle-income countries further along the fertility transition. Fertility rates have fallen below four births per woman and the working-age share of the population is likely rising considerably.'],
 ['EAS',
  'East Asia and Pacific regional aggregate (includes all income levels).'],
 ['ECA', nan],
 ['ECS',
  'Europe and Central Asia regional aggregate (includes all income levels).'],
 ['EMU', 'Euro area aggregate.'],
 ['EUU', 'European Union aggregate.'],
 ['FCS',
  'Fragile and conflict-affected situations aggregate as of FY23 (July 1, 2022-June 30, 2023). Countries are distinguished based on the nature and severity of issues they face. The classification uses the following categories: - Countries with high levels of institutional and social fragility, identified based on publicly available indicators that measure the quality of policy and institutions and manifestations of fragility. - Countries affected by violent conflict, identified based on a threshold number of conflict-related deaths relative to the population. This category includes two sub-categories based on the intensity of violence: countries in high-intensity conflict and countries in medium-intensity conflict. For more information, please visit https://www.worldbank.org/en/topic/fragilityconflictviolence/brief/harmonized-list-of-fragile-situations.'],
 ['HIC',
  'High income group aggregate. High-income economies are those in which 2022 GNI per capita was more than $13,845.'],
 ['HPC',
  'The Heavily Indebted Poor Countries (HIPC) refer to countries that participated in the HIPC Initiative, launched in 1996 by the IMF and World Bank to reduce external debt burdens of the most heavily indebted poor countries at that time to sustainable levels. To date, the majority of the countries completed the program, receiving 76 billion in debt-service relief over time. For more details, visit https://www.imf.org/en/About/Factsheets/Sheets/2016/08/01/16/11/Debt-Relief-Under-the-Heavily-Indebted-Poor-Countries-Initiative.\nData are aggregates for HIPC.'],
 ['IBD', 'IBRD only group aggregate.'],
 ['IBT',
  'IDA and IBRD total group aggregate (includes IDA only, IDA blend, and IBRD only).'],
 ['IDA', 'IDA total group aggregate (includes IDA only and IDA blend).'],
 ['IDB', 'IDA blend group aggregate.'],
 ['IDX', 'IDA only group aggregate.'],
 ['LAC', nan],
 ['LCN', nan],
 ['LDC', nan],
 ['LIC',
  'Low income group aggregate. Low-income economies are those in which 2022 GNI per capita was $1,135 or less.'],
 ['LMC',
  'Lower middle income group aggregate. Lower-middle-income economies are those in which 2022 GNI per capita was between $1,136 and $4,465.'],
 ['LMY',
  'Low and middle-income group aggregate. Low and middle-income economies are those in which 2022 GNI per capita was less than $13,845.'],
 ['LTE',
  'Late-dividend countries are mostly upper middle-income countries. Fertility rates are typically above replacement levels of 2.1 births per woman but continue to decline with shrinking working-age shares and rapid aging.'],
 ['MEA',
  'Middle East and North Africa regional aggregate (includes all income levels).'],
 ['MIC',
  'Middle income group aggregate. Middle-income economies are those in which 2022 GNI per capita was between $1,136 and $13,845.'],
 ['MNA', nan],
 ['NAC',
  'North America regional aggregate. There are no economies in North America classified as low or middle income.'],
 ['OED', nan],
 ['OSS', nan],
 ['PRE',
  'Pre-dividend countries are mostly low-income countries, lagging in key human development indicators and with current fertility levels above four births per woman. They face very rapid population growth.'],
 ['PSS', 'Pacific island small states aggregate.'],
 ['PST',
  'Post-dividend countries are mostly high-income countries where fertility has transitioned below replacement levels.'],
 ['SAS', nan],
 ['SSA', nan],
 ['SSF',
  'Sub-Saharan Africa regional aggregate (includes all income levels).'],
 ['SST', 'Small states (members of the Small States Forum) aggregate.'],
 ['TEA', 'East Asia & Pacific (IDA & IBRD countries) aggregate.'],
 ['TEC', 'Europe & Central Asia (IDA & IBRD countries) aggregate.'],
 ['TLA', 'Latin America & the Caribbean (IDA & IBRD countries) aggregate.'],
 ['TMN', 'Middle East & North Africa (IDA & IBRD countries) aggregate.'],
 ['TSA', 'South Asia (IDA & IBRD countries) aggregate.'],
 ['TSS', 'Sub-Saharan Africa (IDA & IBRD countries) aggregate.'],
 ['UMC',
  'Upper middle income group aggregate. Upper-middle-income economies are those in which 2022 GNI per capita was between $4,466 and $13,845.'],
 ['WLD', 'World aggregate.']]

In [47]:
# remove non countris
clean = data

to_drop_indx = []
for elem in non_countries:
    drop_indx = clean.loc[clean["Country Code"] == elem[0]].index[0]
    to_drop_indx.append(drop_indx)

clean.drop(index=to_drop_indx, inplace=True)

clean.head(10)

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26942.307976,28421.386493,28451.273745,29326.708058,30918.515218,31902.762582,24487.863569,29342.100730,NaN,NaN
2,Afghanistan,AFG,62.369375,62.443703,60.950364,82.021738,85.511073,105.243196,143.103233,167.165675,...,628.146804,592.476165,520.251955,530.149863,502.057099,500.522981,516.866797,363.674087,NaN,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5059.080441,3100.830685,1709.515534,2283.214233,2487.500996,2142.238757,1502.950754,1903.717405,2998.501158,NaN
5,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4578.633208,3952.803584,4124.055390,4531.032207,5287.660817,5396.214227,5343.037704,6377.203096,6802.804519,NaN
6,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45680.534990,38885.530324,39931.216982,40632.231554,42904.828456,41328.600499,37207.222000,42072.341103,41992.793358,NaN
8,United Arab Emirates,ARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46865.964598,41525.138904,41054.539570,43063.967479,46722.268719,45376.170839,37629.174168,44315.554184,53757.863251,NaN
9,Argentina,ARG,NaN,NaN,1163.186836,855.275656,1179.504098,1285.260799,1277.968419,1065.898520,...,12334.798245,13789.060425,12790.264064,14613.035715,11795.162885,9963.674231,8496.428157,10636.115530,13686.008674,NaN
10,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4017.229913,3666.141825,3679.952349,4041.995072,4391.923274,4828.504889,4505.867746,4966.513471,7014.206592,NaN
11,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12313.997357,13101.541816,13300.824611,12372.884783,13195.935900,13672.576657,15501.526337,15743.310758,NaN,NaN
12,Antigua and Barbuda,ATG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14004.811212,14861.882707,15862.651663,16110.312400,17514.355864,18187.779712,15284.772384,16740.348196,18745.173509,NaN

In [ ]:
clean.to_csv("clean_data/gdp_per_capita.csv")